In [1]:
import pyfiber

Configuration file at: C:\Users\mceau/.pyfiber/pyfiber.yaml

In [2]:
import matplotlib.pyplot as plt
import matplotlib.style as st
st.use('ggplot')
import numpy as np

In [1]:
hex??

In [9]:
int('51',base=16)

81

In [376]:
with open('../../Desktop/midi/gm2p1.txt') as f:
    lines = f.readlines()

In [ ]:
# midi OK
# note OK
# inst name

In [ ]:
#midi = [a.split(' ')[0] for a in lines]
#note = [a.split(' ')[1].replace('(','').replace(')','') for an in lines]

In [374]:
df

     note    set_name   instr  PC  EXC  pan
27 1   D#    standard  High Q   1  NaN   49
   2   D#        room       @   9  NaN  NaN
   3   D#       power       @  17  NaN  NaN
   4   D#  electronic     NaN  25  NaN  NaN
   5   D#      analog     NaN  26  NaN  NaN
...   ...         ...     ...  ..  ...  ...
88 5    E      analog     NaN  26  NaN  NaN
   6    E        jazz     NaN  33  NaN  NaN
   7    E       brush     NaN  41  NaN  NaN
   8    E   orchestra     NaN  49  NaN  NaN
   9    E         sfx     NaN  57  NaN  NaN

[558 rows x 6 columns]

In [375]:
df.to_csv('../../Desktop/midi/gm2p.csv')

In [379]:
df.loc[[(88,i) for i in [1,2,3,4,5,6,7,9]],'instr'] = ['--']*8

In [400]:
for l in lines:
    if 'MID C' in l:
        l = l.replace('MID C', 'C')
    l = l.split(' ')
    n = int(l[0])
    l = l[2:]
    print(n, l)

27 ['@', '@', '@\n']
28 ['@', '@', '@\n']
29 ['@', '@', '@\n']
30 ['@', '@', '@\n']
31 ['@', '@', '@\n']
32 ['@', '@', '@\n']
33 ['@', '@', '@\n']
34 ['@', '@', '@\n']
35 ['@', '@', 'Jazz', 'Kick', '2', '64\n']
36 ['Electric', 'Bass', 'Drum', '64', 'Analog', 'Bass', 'Drum', '64', 'Jazz', 'Kick', '1', '64\n']
37 ['@', 'Analog', 'Rim', 'Shot', '64', '@\n']
38 ['Electric', 'Snare', '1', '64', 'Analog', 'Snare', '1', '64', '@\n']
39 ['@', '@', '@\n']
40 ['Electric', 'Snare', '2', '64', '@', '@\n']
41 ['Electric', 'Low', 'Tom', '2', '34', 'Analog', 'Low', 'Tom', '2', '34', '@\n']
42 ['@', 'Analog', 'CHH', '1', '[EXC1]', '84', '@\n']
43 ['Electric', 'Low', 'Tom', '1', '46', 'Analog', 'Low', 'Tom', '1', '46', '@\n']
44 ['@', 'Analog', 'CHH', '2', '[EXC1]', '84', '@\n']
45 ['Electric', 'Mid', 'Tom', '2', '58', 'Analog', 'Mid', 'Tom', '2', '58', '@\n']
46 ['@', 'Analog', 'OHH', '[EXC1]', '84', '@\n']
47 ['Electric', 'Mid', 'Tom', '1', '70', 'Analog', 'Mid', 'Tom', '1', '70', '@\n']
48 ['Electric', 'Hi', 'Tom', '2', '82', 'Analog', 'Hi', 'Tom', '2', '82', '@\n']
49 ['@', 'Analog', 'Cymbal', '84', '@\n']
50 ['Electric', 'Hi', 'Tom', '1', '94', 'Analog', 'Hi', 'Tom', '1', '94', '@\n']
51 ['@', '@', '@\n']
52 ['Reverse', 'Cymbal', '44', '@', '@\n']
53 ['@', '@', '@\n']
54 ['@', '@', '@\n']
55 ['@', '@', '@\n']
56 ['@', 'Analog', 'Cowbell', '84', '@\n']
57 ['@', '@', '@\n']
58 ['@', '@', '@\n']
59 ['@', '@', '@\n']
60 ['@', '@', '@\n']
61 ['@', '@', '@\n']
62 ['@', 'Analog', 'High', 'Conga', '39', '@\n']
63 ['@', 'Analog', 'Mid', 'Conga', '44', '@\n']
64 ['@', 'Analog', 'Low', 'Conga', '49', '@\n']
65 ['@', '@', '@\n']
66 ['@', '@', '@\n']
67 ['@', '@', '@\n']
68 ['@', '@', '@\n']
69 ['@', '@', '@\n']
70 ['@', 'Analog', 'Maracas', '24', '@\n']
71 ['@', '@', '@\n']
72 ['@', '@', '@\n']
73 ['@', '@', '@\n']
74 ['@', '@', '@\n']
75 ['@', 'Analog', 'Claves', '84', '@\n']
76 ['@', '@', '@\n']
77 ['@', '@', '@\n']
78 ['@', '@', '@\n']
79 ['@', '@', '@\n']
80 ['@', '@', '@\n']
81 ['@', '@', '@\n']
82 ['@', '@', '@\n']
83 ['@', '@', '@\n']
84 ['@', '@', '@\n']
85 ['@', '@', '@\n']
86 ['@', '@', '@\n']
87 ['@', '@', '@\n']
88 ['---', '---', '---']

In [377]:
lines

['27 (D#) @ @ @\n',
 '28 (E) @ @ @\n',
 '29 (F) @ @ @\n',
 '30 (F#) @ @ @\n',
 '31 (G) @ @ @\n',
 '32 (G#) @ @ @\n',
 '33 (A) @ @ @\n',
 '34 (A#) @ @ @\n',
 '35 (B) @ @ Jazz Kick 2 64\n',
 '36 (C) Electric Bass Drum 64 Analog Bass Drum 64 Jazz Kick 1 64\n',
 '37 (C#) @ Analog Rim Shot 64 @\n',
 '38 (D) Electric Snare 1 64 Analog Snare 1 64 @\n',
 '39 (D#) @ @ @\n',
 '40 (E) Electric Snare 2 64 @ @\n',
 '41 (F) Electric Low Tom 2 34 Analog Low Tom 2 34 @\n',
 '42 (F#) @ Analog CHH 1 [EXC1] 84 @\n',
 '43 (G) Electric Low Tom 1 46 Analog Low Tom 1 46 @\n',
 '44 (G#) @ Analog CHH 2 [EXC1] 84 @\n',
 '45 (A) Electric Mid Tom 2 58 Analog Mid Tom 2 58 @\n',
 '46 (A#) @ Analog OHH [EXC1] 84 @\n',
 '47 (B) Electric Mid Tom 1 70 Analog Mid Tom 1 70 @\n',
 '48 (C) Electric Hi Tom 2 82 Analog Hi Tom 2 82 @\n',
 '49 (C#) @ Analog Cymbal 84 @\n',
 '50 (D) Electric Hi Tom 1 94 Analog Hi Tom 1 94 @\n',
 '51 (D#) @ @ @\n',
 '52 (E) Reverse Cymbal 44 @ @\n',
 '53 (F) @ @ @\n',
 '54 (F#) @ @ @\n',
 '55 (G) @ @ @\n',
 '56 (G#) @ Analog Cowbell 84 @\n',
 '57 (A) @ @ @\n',
 '58 (A#) @ @ @\n',
 '59 (B) @ @ @\n',
 '60 (MID C) @ @ @\n',
 '61 (C#) @ @ @\n',
 '62 (D) @ Analog High Conga 39 @\n',
 '63 (D#) @ Analog Mid Conga 44 @\n',
 '64 (E) @ Analog Low Conga 49 @\n',
 '65 (F) @ @ @\n',
 '66 (F#) @ @ @\n',
 '67 (G) @ @ @\n',
 '68 (G#) @ @ @\n',
 '69 (A) @ @ @\n',
 '70 (A#) @ Analog Maracas 24 @\n',
 '71 (B) @ @ @\n',
 '72 (C) @ @ @\n',
 '73 (C#) @ @ @\n',
 '74 (D) @ @ @\n',
 '75 (D#) @ Analog Claves 84 @\n',
 '76 (E) @ @ @\n',
 '77 (F) @ @ @\n',
 '78 (F#) @ @ @\n',
 '79 (G) @ @ @\n',
 '80 (G#) @ @ @\n',
 '81 (A) @ @ @\n',
 '82 (A#) @ @ @\n',
 '83 (B) @ @ @\n',
 '84 (C) @ @ @\n',
 '85 (C#) @ @ @\n',
 '86 (D) @ @ @\n',
 '87 (D#) @ @ @\n',
 '88 (E) --- --- ---']